.developercard {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  position: absolute;
  top: 100px;
  left: calc(50% - 160px);
  z-index: 1;
  width: calc(320px - 32px);
  padding: 16px 16px 9px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(46, 49, 55, 0.1),
    0px 0px 2px rgba(46, 49, 55, 0.2);
  border-radius: 16px;
  font-family: 'Space Grotesk', sans-serif, Arial, Helvetica;
  font-style: normal;
  letter-spacing: 0.02em;
}

.developercard__hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.developercard__container {
  display: flex;
  justify-self: flex-start;
}

.developercard__text-container {
  width: 184px;
}

.developercard__title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #0f1624;
}

.developercard__job {
  margin: 8px 0 0 0;
  font-size: 10px;
  line-height: 14px;
  color: rgba(15, 22, 36, 0.75);
}

.developercard__location-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.developercard__location {
  margin: 9px 0 0 8px;
  font-size: 10px;
  line-height: 14px;
  color: rgba(15, 22, 36, 0.5);
}

.developercard__avatar {
  margin: 4px 0 0 19px;
}

.developercard__line {
  margin: 6px 0 0 0;
  width: 32px;
  height: 1px;
  background-color: rgba(15, 22, 36, 0.1);
}

.developercard__text {
  margin: 16px 0 10px 0;
  font-size: 14px;
  line-height: 22px;
  color: rgba(15, 22, 36, 0.75);
}

.developercard__icon-container {
  list-style: none;
  padding: 0;
  margin: 0 0 0 -5px;
  display: flex;
  justify-content: space-between;
  width: 88px;
}

.developercard__icon {
  margin: 0;
  width: min-content;
}

@media (min-width: 768px) {
  .developercard {
    top: 168.86px;
    left: calc(50% - 200px);
    width: calc(400px - 48px);
    padding: 24px 24px 16px;
  }

  .developercard__text-container {
    width: 232px;
  }

  .developercard__title {
    font-size: 20px;
    line-height: 32px;
  }

  .developercard__job {
    margin: 12px 0 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .developercard__location {
    margin: 12px 0 0 8px;
    font-size: 12px;
    line-height: 18px;
  }

  .developercard__avatar {
    margin: 4px 0 0 19px;
  }

  .developercard__line {
    margin: 16px 0 0 0;
  }

  .developercard__text {
    margin: 16px 0 10px 0;
    font-size: 16px;
    line-height: 28px;
  }
}

@media (min-width: 1024px) {
  .developercard {
    top: 150.04px;
    left: calc(50% - 240px);
    width: calc(480px - 48px);
    padding: 24px 24px 19px;
  }

  .developercard__text-container {
    width: 272px;
  }

  .developercard__title {
    font-size: 24px;
  }

  .developercard__job {
    margin: 16px 0 0 0;
    font-size: 14px;
    line-height: 22px;
  }

  .developercard__location-container {
    align-items: baseline;
  }

  .developercard__line {
    margin: 12px 0 0 0;
  }

  .developercard__location {
    margin: 16px 0 0 6px;
    font-size: 14px;
    line-height: 22px;
  }

  .developercard__avatar {
    margin: 5px 0 0 30px;
  }

  .developercard__text {
    margin: 24px 0 20px 0;
    font-size: 18px;
    line-height: 30px;
  }

  .developercard__icon-container {
    width: 89px;
  }
}
