.customerslist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0;
}

.customerslist__item {
  list-style: none;
  width: min-content;
  align-self: flex-end;
}

.customerslist li:nth-child(3n + 1) {
  padding-right: 50px;
}

.customerslist li:nth-child(3n) {
  padding-left: 50px;
}
@media (min-width: 341px) {
  .customerslist li:nth-child(3n + 1) {
    padding-right: 80px;
  }

  .customerslist li:nth-child(3n) {
    padding-left: 80px;
  }
}

@media (min-width: 414px) {
  .customerslist__item {
    width: min-content;
  }

  .customerslist li:nth-child(3n + 1) {
    padding-right: 0;
  }

  .customerslist li:nth-child(3n) {
    padding-left: 0;
  }
}
