.pricing-card-list {
  list-style: 0;
  margin: 32px 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 16px;
}

.pricing-card-list__link-container {
  list-style: none;
  margin: -13px 0 -13px -13px;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.pricing-card-list__link {
  display: flex;
  align-items: center;
}

.pricing-card-list__link-text {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding: 5px 10px 5px 4px;
}

.pricing-card-list__link-left-border {
  border-right: 1px solid rgba(255, 255, 255, 0.33);
}

.pricing-card-list__link-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -13px 0 -13px -13px;
}

@media (min-width: 768px) {
  .pricing-card-list {
    row-gap: 24px;
    margin: 64px 0;
  }

  .pricing-card-list__link-container {
    margin: -18px 0 -18px -13px;
  }

  .pricing-card-list__link {
    display: flex;
    align-items: center;
  }

  .pricing-card-list__link-text {
    font-size: 20px;
    line-height: 20px;
    padding: 2px 15px 2px 3px;
  }

  .pricing-card-list__link-left-border {
    padding-right: 16px;
    margin-right: 5px;
  }

  .pricing-card-list__link-viewer {
    justify-content: flex-start;
    margin: -18px 0 -18px -13px;
  }
}

@media (min-width: 1024px) {
  .pricing-card-list {
    margin: 80px 0;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
    column-gap: 24px;
    justify-content: space-between;
  }

  .pricing-card-list__link-container {
    margin: 0 0 0 -13px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 25px;
  }

  .pricing-card-list__link {
    margin: -6px 0 -6px;
  }

  .pricing-card-list__link-text {
    padding: 0;
    margin: 0;
  }

  .pricing-card-list__link-left-border {
    border: none;
    padding-right: 0;
    margin-right: 0;
  }

  .pricing-card-list__link-viewer {
    position: absolute;
    bottom: 39px;
  }
}
