.pricing-card-list {
  list-style: none;
  margin: 32px 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 16px;
}

.pricing-card-list__link-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: center;
}

.pricing-card-list__link-item {
  padding: 0 12px 0 0;
}

.pricing-card-list__link-item:last-child {
  margin: 0;
}

.pricing-card-list__link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  width: max-content;
}

.pricing-card-list__link:hover {
  opacity: 0.75;
  cursor: pointer;
}

.pricing-card-list__link .icon {
  margin-right: 16px;
}

.pricing-card-list__link-item-right-border {
  border-right: 1px solid rgba(255, 255, 255, 0.33);
  margin-right: 12px;
}

.pricing-card-list__link-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .pricing-card-list {
    row-gap: 24px;
    margin: 64px 0;
  }

  .pricing-card-list__link-container {
    align-self: start;
  }

  .pricing-card-list__link {
    font-size: 20px;
    line-height: 20px;
    margin: 0 16px 0 0;
  }

  .pricing-card-list__link-item-right-border {
    margin-right: 16px;
  }

  .pricing-card-list__link-viewer {
    justify-content: flex-start;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .pricing-card-list {
    margin: 80px 0;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
    column-gap: 24px;
    justify-content: space-between;
  }

  .pricing-card-list__link-container {
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .pricing-card-list__link-item-right-border {
    border: none;
    margin-right: 0;
  }

  .pricing-card-list__link-item {
    margin-bottom: 20px;
  }

  .pricing-card-list__link-item:last-child {
    margin-bottom: 0;
  }

  .pricing-card-list__link-viewer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
