.sectiontitle {
  position: relative;
  font-family: 'Space Grotesk', sans-serif, Arial, Helvetica;
  font-style: normal;
  font-weight: normal;
  padding: 18px 0 0 0;
}

.sectiontitle__line {
  position: absolute;
  top: 0;
  left: 0px;
  width: 32px;
  height: 2px;
  border-radius: 1px;
  background: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
}

.sectiontitle__subtitle {
  padding: 0;
  margin: 8px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.sectiontitle__text {
  margin: 16px 0;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.sectiontitle__break_for_desktop {
  display: none;
}

@media (min-width: 768px) {
  .sectiontitle {
    padding: 28px 0 0 0;
  }

  .sectiontitle__line {
    width: 48px;
    height: 4px;
    border-radius: 2px;
  }

  .sectiontitle__subtitle {
    margin: 12px 0 0 0;
    font-size: 20px;
    line-height: 32px;
  }

  .sectiontitle__text {
    margin: 24px 0;
    font-size: 16px;
    line-height: 28px;
  }
}

@media (min-width: 1024px) {
  .sectiontitle {
    padding: 38px 0 0 0;
  }

  .sectiontitle__line {
    width: 64px;
    height: 6px;
    border-radius: 3px;
  }

  .sectiontitle__subtitle {
    width: 800px;
    padding: 0;
    margin: 16px 0 0 0;
    font-size: 24px;
    line-height: 40px;
  }

  .sectiontitle__text {
    width: 800px;
    margin: 32px 0;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.5);
  }
}
