.diagram {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(79, 108, 176, 0.25) 53.8%,
    rgba(79, 108, 176, 0) 100%
  );
  padding: 15px 0;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .diagram {
    padding: 10px 0;
  }
}

@media (min-width: 1024px) {
  .diagram {
    padding: 60px;
  }
}
