.company-highlight-list {
  padding: 0;
  margin: 32px 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
}

@media (min-width: 768px) {
  .company-highlight-list {
    padding: 0;
    margin: 64px 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 0;
    column-gap: 32px;
  }
}

@media (min-width: 1024px) {
  .company-highlight-list {
    padding: 0;
    margin: 80px 0;
    column-gap: 40px;
  }
}
