.form-popup {
  background-color: #fff;
  font-family: 'Space Grotesk', sans-serif;
  border-radius: 16px;
  padding: 24px;
  width: 320px;
  box-sizing: border-box;
}

.form-popup:hover {
  cursor: initial;
}

.form-popup__form {
  max-height: calc(100vh - 68px);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.form-popup__form::-webkit-scrollbar {
  display: none;
}

.form-popup__header {
  display: flex;
  align-items: center;
  margin: 0 0 24px;
}

.form-popup__title {
  margin: 0 auto 0 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #0f1624;
}

.form-popup__exit-btn {
  background-color: #fff;
  border: none;
  padding: 1px;
}

.form-popup__exit-btn:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .form-popup {
    padding: 32px;
    width: 720px;
  }

  .form-popup__form {
    max-height: calc(100vh - 84px);
  }

  .form-popup__header {
    margin: 0 0 32px;
  }

  .form-popup__title {
    font-size: 28px;
    line-height: 32px;
  }

  .form-popup__exit-btn {
    padding: 2px;
  }
}

@media (min-width: 1024px) {
  .form-popup {
    padding: 40px;
    width: 814px;
  }

  .form-popup__form {
    max-height: calc(100vh - 100px);
  }

  .form-popup__header {
    margin: 0 0 40px;
  }

  .form-popup__title {
    font-size: 36px;
    line-height: 40px;
  }
}
