.logo {
  display: flex;
  align-items: center;
  width: 114.26px;
  height: 24px;
}

.logo__visually-hidden-el {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.logo__icon {
  width: 19.2px;
  height: 19.2px;
  margin: 2.4px 12px 2.4px 2.4px;
}

.logo__label {
  width: 80.66px;
  height: 15.19px;
  margin: 4.4px 0;
  align-self: center;
  object-fit: cover;
}

@media (min-width: 768px) {
  .logo {
    width: 152.35px;
    height: 32px;
    margin-right: 40px;
  }

  .logo__icon {
    width: 25.6px;
    height: 25.6px;
    margin: 3.2px 16px 3.2px 3.2px;
  }

  .logo__label {
    width: 107.55px;
    height: 20.25px;
    margin: 5.87px 0;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 190.44px;
    height: 40px;
    margin-right: 80px;
  }

  .logo__icon {
    width: 32px;
    height: 32px;
    margin: 4px 20px 4px 4px;
  }

  .logo__label {
    width: 134.44px;
    height: 25.32px;
    margin: 7.34px 0;
  }
}
