.quickLinks {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  padding: 0;
}

.quickLinks__heading {
  font-size: 12px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.33);
}

.quickLinks__list {
  list-style: none;
  padding: 0;
}

.quickLinks__link {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);

}

@media (min-width:637px) and (max-width:768px) {
  .quickLinks {
    width: 100%;
  }

  .quickLinks__list {
    width: 188px;
  }

  .quickLinks__link {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 637px) {
  .quickLinks {
    width: 100%;
  }

  .quickLinks__list {
    width: 85px;
  }

  .quickLinks__heading {
    font-size: 10px;
    line-height: 12px;
  }

  .quickLinks__link {
    font-size: 10px;
    line-height: 14px;
  }
}
