.popup{
  position: fixed;
  visibility: hidden;
  transition: visibility 0s, opacity 0.2s linear;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 5; 
  left: 0; 
  top: 0;
}

.popup__form{
  max-width: 814px;
  background-color: white;
  
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  z-index: 10;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 800px){
  .popup__form{
    padding: 32px;
  }
}

@media screen and (max-width: 550px){
  .popup__form{
    padding: 24px;
  }
}

.popup__close{
  width: 24px;
  height: 24px;
  opacity: 1.0;
  z-index: 2;

  background-image: url("../../images/Modal/icon/close.svg");
  background-position: center;
  object-fit: cover; 
  background-repeat: no-repeat;
  border: none;
  align-self: center;
  background-color: transparent;
}

@media screen and (max-width: 550px){
  .popup__close{
    width: 16px;
    height: 16px;
  }
}

.popup__close:hover{
  cursor: pointer;
  opacity: 0.6;
}

.popup__container{
  z-index: 10; 
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup__input{
  width: 734px;
  border: 2px solid rgba(15, 22, 36, 0.1);
  border-radius: 8px;
  margin-bottom: 32px;
  padding: 16px;
}

@media screen and (max-width: 800px){
  .popup__input{
    width: 656px;
    margin-bottom: 24px;

  }
}

@media screen and (max-width: 550px){
  .popup__input{
    width: 272px;
    margin-bottom: 16px;
    padding: 8px;
    font-size: 16px;
    line-height: 20px;
  }
}

.popup__error{
  max-width: 734px;
  margin-bottom: 32px;
}

@media screen and (max-width: 800px){
  .popup__error{
    max-width: 656px;
  }
}

@media screen and (max-width: 550px){
  .popup__error{
    max-width: 272px;
  }
}

.popup__error_visible{
  font-weight: normal;
  font-size: 14px;
  line-height: 16px; 
  letter-spacing: 0.01em;
  color: #FF3333;
}

@media screen and (max-width: 800px){
  .popup__error_visible{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
}

.popup__input_error{
  border: 1px solid #FF0000;
  color:  #FF0000;
  margin-bottom: 32px;
}

.popup__submit{
  font-family: "Roboto", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 358px;
  height: 64px;
  border-radius: 100px;
  background: #2F71E5;
  margin: 48px auto 0px auto;
  color: white;
  cursor: pointer;
  opacity: 1.0;
  border-style: none;
}

.popup__submit:hover{
  cursor: pointer;
  opacity: 0.8;
}

.popup__link-text{
  align-self: center;
  margin-top: 16px;
}

.popup__link{
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #0F1624;
}

.popup_success .popup__link-text {
  align-self: auto;
}

.popup__submit.popup__submit_disabled{
  background: #E6E8EB;
  color: #B6BCBF;
  opacity: 0.2;
}

  .popup__title{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #0F1624;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 22px;

    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 800px){
    .popup__title{
      font-weight: 600;
      font-size: 28px;
      line-height: 32px;
    }
  }

  @media screen and (max-width: 550px){
    .popup__title{
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 24px;
    }
  }

  .popup_state_opened{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


.popup.popup_state_opened{
  display: flex;
  visibility: visible;
  opacity: 1;
}

.popup__input-label{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(15, 22, 36, 0.5);
  margin-bottom: 8px;
}

@media screen and (max-width: 800px){
  .popup__input-label{
    font-size: 14px;
    line-height: 16px;
  }
}

.popup__container.popup_success{
  max-width: 430px;
}

.popup__checkbox-container{
  display: flex;
}

.popup__checkbox{
  width: 24px;
  height: 24px;
  border: 2px solid rgba(15, 22, 36, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 16px;
}

@media screen and (max-width: 550px){
  .popup__checkbox{
    width: 16px;
    height: 16px;
    margin-right: 12px;

  }
}


.popup__checkbox-label{
  margin-block-start: 0px;
  margin-block-end: 0px;

  font-size: 20px;
  line-height: 24px;
  color: #0F1624;
}

@media screen and (max-width: 800px){
  .popup__checkbox-label{
    font-size: 18px;
    line-height: 20px;    
  }
}

@media screen and (max-width: 550px){
  .popup__checkbox-label{
    font-size: 16px;
    line-height: 20px;
  }
}
