.enterprise{
  padding: 0rem 5rem 5rem 5rem;
  margin: auto;
  max-width: 1200px;
}

.enterprise__accent{
  display: block;
  unicode-bidi: normal;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-start: 0rem;
  margin-inline-end: 0rem;
  overflow: hidden;
  border-style: none;
  border-width: 0rem;

  width: 4rem;
  height: 0.375rem;
  background: linear-gradient(90deg,#13ADC7, #945DD6);
  border-radius: 1.875rem;
  margin-bottom: 2rem;

}

.enterprise__title{
  font-family: "Roobert TRIAL", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 3.5rem;
  
  /* gradient */
  background: -webkit-linear-gradient(120deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 1.125rem;
}

.enterprise__subtitle{
  font-family: "Roobert TRIAL", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
  max-width: 50rem;
  margin-bottom: 5rem;
}
.enterprise__image-container{
  text-align: center;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(79, 108, 176, 0.25) 53.8%, rgba(79, 108, 176, 0) 100%);
}

.enterprise__main-image{
  padding: 3.75rem;
}

.enterprise__list{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 5.1875rem;
}

.enterprise__list-title{
  font-family: "Roobert TRIAL", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}

.enterprise__list-text{
  font-family: "Roobert TRIAL", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.75);
}

.enterprise__list-item{
  max-width: 320px;
}

.enterprise__list-icon{
  display: block;
  width: 48px;
  height: 48px;
  margin-bottom: 0.5rem;

  background-position: center;
  object-fit: scale-down; 
  background-repeat: no-repeat;
  background-color: transparent;
}

.enterprise__list-icon_gear{
  background-image: url('../../images/Enterprise/icon/gear.svg');
}

.enterprise__list-icon_code{
  background-image: url('../../images/Enterprise/icon/code.svg');
}

.enterprise__list-icon_shield{
  background-image: url('../../images/Enterprise/icon/shield.svg');
}

@media screen and (max-width:1061px){
  .enterprise__image-container{
    background-image: none;
  }

}

@media screen and (max-width:768px){
  .enterprise__list-item{
    max-width: 12.666875rem;
  }

  .enterprise{
    padding: 0rem 3rem 3rem 3rem;
  }
}

@media screen and (max-width:414px){

}