/* this is just for testing purposes. It is not used anywhere */

.enterprise{
  padding: 0 6.25% 6.25% 6.25%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: initial;
}

.enterprise__accent{
  display: block;
  unicode-bidi: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  overflow: hidden;
  border-style: none;
  border-width: 0px;

  width: 48px;
  height: 6px;
  background: linear-gradient(90deg,#13ADC7, #945DD6);
  border-radius: 30px;
  margin-bottom: 32px;

}

.enterprise__title{
  font-family: "Roobert TRIAL", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: 0.02em;

  background: -webkit-linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 18px;
}

.enterprise__subtitle{
  font-family: "Roobert TRIAL", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
  max-width: 800px;
  margin-bottom: 80px;
}
.enterprise__image-container{
  text-align: center;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(79, 108, 176, 0.25) 53.8%, rgba(79, 108, 176, 0) 100%);
}

.enterprise__main-image{
  padding: 60px;
}

.enterprise__list{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 83px;
}

.enterprise__list-container{
  display: flex;
  flex-direction: column;
}

.enterprise__list-title{
  font-family: "Roobert TRIAL", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.enterprise__list-paragraph{
  font-family: "Roobert TRIAL", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.75);
}

.enterprise__list-item{
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.enterprise__list-icon{
  display: block;
  width: 48px;
  height: 48px;
  margin-bottom: 8px;

  background-position: center;
  object-fit: scale-down; 
  background-repeat: no-repeat;
  background-color: transparent;
}

.enterprise__list-icon_gear{
  background-image: url('../../images/Enterprise/icon/gear.svg');
}

.enterprise__list-icon_code{
  background-image: url('../../images/Enterprise/icon/code.svg');
}

.enterprise__list-icon_shield{
  background-image: url('../../images/Enterprise/icon/shield.svg');
}

@media screen and (max-width:1075px){
  .enterprise__image-container{
    background-image: none;
  }
  .enterprise__main-image{
    padding: 0px;
  }
}

@media screen and (max-width:768px){
  .enterprise__accent{
    margin-bottom: 24px;
    justify-content: flex-start;
  }

  .enterprise__title{
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 12px;
  }

  .enterprise__subtitle{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 64px;
  }


  .enterprise__main-image{
    padding: 0px;
  }
  
  .enterprise__list{
    max-width: 672px;
  }

  .enterprise__list-item{
    max-width: 202.67px;
  }

  .enterprise__list-title{
    font-size: 24px;
    line-height: 28px;
  }

  .enterprise__list-paragraph{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  
}

@media screen and (max-width:414px){
  .enterprise{
    padding: 0 5% 5% 5%;
  }

  .enterprise__accent{
    width: 32px;
    margin-bottom: 16px;
  }

  .enterprise__title{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 8px;
  }

  .enterprise__subtitle{
    font-size: 16px;
    line-height: 24px;  
    margin-bottom: 32px;
  }

  .enterprise__list{
    flex-direction: column;
    margin-top: 32px;
    max-width: 320px;
  }

  .enterprise__list-item{
    margin-bottom: 14px;
    max-width: 320px;
    flex-direction: row;
  }

  .enterprise__list-container{
    display: flex;
    max-width: 240px;
    margin-left: 18px;
  }

  .enterprise__list-icon{
    width: 32px;
    height: 32px;
    margin-bottom: 0px;
  }

  .enterprise__list-icon_gear{
    background-image: url('../../images/Enterprise/icon/gear-s.svg');
  }
  
  .enterprise__list-icon_code{
    background-image: url('../../images/Enterprise/icon/code-s.svg');
  }
  
  .enterprise__list-icon_shield{
    background-image: url('../../images/Enterprise/icon/shield-s.svg');
  }

  .enterprise__list-title{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-bottom: 4px;
  }

  .enterprise__list-paragraph{
    font-size: 14px;
    line-height: 22px;
  }

}