.footer-list {
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  flex-direction: column;
  width: calc((100% - 32px) / 3);
}

.footer-list__title {
  text-transform: uppercase;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  margin: 0;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.75);
}

.footer-list__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer-list__link-item {
  display: flex;
  margin-top: 8px;
}

.footer-list__link {
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  .footer-list {
    width: calc((100% - 80px) / 3);
  }

  .footer-list__title {
    line-height: 24px;
    font-size: 12px;
  }

  .footer-list__link {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (min-width: 1024px) {
  .footer-list {
    width: 219px;
    margin: 0 40px 0 0;
  }

  .footer-list__link {
    font-size: 18px;
    line-height: 30px;
  }
}
