.avatar {
  width: auto;
}

.avatar__square {
  width: 82px;
  height: 82px;
  position: relative;
  overflow: hidden;
}

.avatar__square_item {
  width: 74px;
  height: 74px;
  object-fit: contain;
  position: absolute;
  top: 7px;
  left: 7px;
}

.avatar__square_item_shift {
  position: absolute;
  top: 0;
  left: 0;
}

.avatar__hidden {
  display: none;
}

.avatar__square_alt {
  position: absolute;
  margin: 8%;
  top: 15px;
  left: 0;
  z-index: 1;
  font-size: 15px;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

.avatar__circle {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-size: contain;
  object-fit: contain;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
  box-sizing: border-box;
  overflow: hidden;
}

.avatar__circle:active {
  border: 2px solid #ffffff;
}

.avatar__circle_alt {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 1;
  font-size: 5px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  .avatar__square {
    width: 96px;
    height: 96px;
  }

  .avatar__square_item {
    width: 88px;
    height: 88px;
    position: absolute;
    top: 7px;
    left: 8px;
  }

  .avatar__square_item_shift {
    position: absolute;
    top: 0;
    left: 0;
  }

  .avatar__square_alt {
    top: 15px;
    left: 0;
  }

  .avatar__circle {
    width: 24px;
    height: 24px;
    border: 2px solid #ffffff;
  }

  .avatar__circle:active {
    border: 4px solid #ffffff;
  }

  .avatar__circle_alt {
    top: 7px;
    left: 0;
  }
}

@media (min-width: 1024px) {
  .avatar__square {
    width: 128px;
    height: 128px;
    position: relative;
  }

  .avatar__square_item {
    width: 116px;
    height: 116px;
    object-fit: contain;
    position: absolute;
    top: 7px;
    left: 6px;
  }

  .avatar__square_item_shift {
    position: absolute;
    top: 0;
    left: 0;
  }

  .avatar__square_alt {
    top: 20px;
    left: 6px;
  }

  .avatar__circle {
    width: 32px;
    height: 32px;
    border: 2px solid #ffffff;
  }

  .avatar__circle:active {
    border: 4px solid #ffffff;
  }

  .avatar__circle_alt {
    top: 11px;
    left: 0;
  }
}
