.avatar {
  width: 80px;
  height: 80px;
  position: relative;
}

.avatar__background {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-left: 8px;
  margin-top: 8px;
}

.avatar__item {
  object-fit: cover;
  position: absolute;
  top: -81px;
  left: 5px;
  width: 68.8px;
  height: 68.8px;
  border-radius: 16px;
  transform: rotate(-15deg);
  position: relative;
  overflow: hidden;
}

.avatar__item-img {
  width: 150%;
  height: 150%;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain;
  transform: rotate(15deg);
  position: absolute;
  top: -15%;
  left: -20%;
}

@media (min-width: 768px) {
  .avatar {
    width: 96px;
    height: 96px;
  }

  .avatar__background {
    width: 96px;
    height: 96px;
  }

  .avatar__item {
    top: -100px;
    left: 4px;
    width: 87px;
    height: 87px;
    border-radius: 24px;
  }
}

@media (min-width: 1024px) {
  .avatar {
    width: 128px;
    height: 128px;
  }

  .avatar__background {
    width: 128px;
    height: 128px;
  }

  .avatar__item {
    top: -136px;
    left: 0;
    width: 119px;
    height: 119px;
    border-radius: 32px;
  }
}
