.list{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 32px;
  margin-top: 80px;
  margin-bottom: 124px;
}

@media screen and (max-width: 413px){
  .list{
    display: flex;
    flex-direction: column;
  }
}

.list-item{
  display: flex;
  flex-direction: column;
} 

@media screen and (max-width: 413px){
  .list-item{
    flex-direction: row;
  }
}

.list-img-container{
  position: relative;
  width: 136px;
  height: 136px;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px){
  .list-img-container{
    width: 104px;
    height: 104px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 413px){
  .list-img-container{
    width: 88px;
    height: 88px;
    margin-bottom: 0px;
    margin-right: 16px;
  }
}

.list-img{
  width: 128px;
  height: 128px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

@media screen and (max-width: 767px){
  .list-img{
    width: 96px;
    height: 96px;
  }
}

@media screen and (max-width: 413px){
  .list-img{
    width: 80px;
    height: 80px;
  }
}

.list-img-border{
  width: 128px;
  height: 128px;  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 0;
}

@media screen and (max-width: 767px){
  .list-img-border{
    width: 96px;
    height: 96px;
  }
}

@media screen and (max-width: 413px){
  .list-img-border{
    width: 80px;
    height: 80px;
  }
}

.list-title{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px){
  .list-title{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 413px){
  .list-title{
    font-size: 16px;
    line-height: 24px;
  }
}

.list-text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 767px){
  .list-text{
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 413px){
  .list-text{
    font-size: 10px;
    line-height: 16px;
  }
}