.formcheck {
  display: flex;
  justify-content: left;
  align-items: baseline;
}
.formcheck__button {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 1px solid rgba(15, 22, 36, 0.5);
  box-sizing: border-box;
  margin-right: 12px;
}

.formcheck__button-square {
  border-radius: 4px;
}
.formcheck__button-square-checked {
  border-radius: 4px;
  background-image: url('../../images/icn-check.png');
  background-color: #13adc7;
}

.formcheck__button-circle {
  border-radius: 99px;
}

.formcheck__button-circle-checked {
  border: 2px solid #13adc7;
  box-sizing: border-box;
  border-radius: 99px;
}

.formcheck__text {
  font-family: 'Space Grotesk', sans-serif, Arial, Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
