.formcheck {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.formcheck__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.formcheck__button {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 1px solid rgba(15, 22, 36, 0.5);
  box-sizing: border-box;
}

.formcheck:hover .formcheck__input ~ .formcheck__button {
  background-color: #ccc;
}

.formcheck .formcheck__input:checked ~ .formcheck__button-square {
  background-color: #13adc7;
  border: 0;
}

.formcheck .formcheck__input:checked ~ .formcheck__button-circle {
  border: 5px solid #13adc7;
}

.formcheck .formcheck__input:focus ~ .formcheck__button-square {
  outline: auto;
}

.formcheck .formcheck__input:focus ~ .formcheck__button-circle {
  outline: auto;
}

.formcheck__button:after {
  content: '';
  position: absolute;
  display: none;
}

.formcheck .formcheck__input:checked ~ .formcheck__button:after {
  display: block;
}

.formcheck .formcheck__button-square:after {
  left: 4.5px;
  top: 2px;
  width: calc(6.18px - 2.25px);
  height: calc(9.55px - 2.25px);
  border: solid white;
  border-width: 0 2.25px 2.25px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.formcheck__button-square {
  border-radius: 4px;
}

.formcheck__button-circle {
  border-radius: 99px;
}

.formcheck__text {
  font-family: 'Space Grotesk', sans-serif, Arial, Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .formcheck {
    padding-left: 32px;
  }

  .formcheck__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
  }

  .formcheck__text {
    font-size: 18px;
    line-height: 20px;
  }

  .formcheck .formcheck__input:checked ~ .formcheck__button-circle {
    border: 6px solid #13adc7;
  }

  .formcheck .formcheck__button-square:after {
    left: 5px;
    top: 2px;
    width: calc(8.24px - 3px);
    height: calc(12.74px - 3px);
    border-width: 0 3px 3px 0;
  }
}

@media (min-width: 1024px) {
  .formcheck {
    padding-left: 40px;
  }

  .formcheck__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
  }

  .formcheck__text {
    color: #0f1624;
    font-size: 20px;
    line-height: 24px;
  }

  .formcheck .formcheck__input:checked ~ .formcheck__button-circle {
    border: 8px solid #13adc7;
  }

  .formcheck .formcheck__button-square:after {
    left: 7.5px;
    top: 4px;
    width: calc(8.24px - 3px);
    height: calc(12.74px - 3px);
    border-width: 0 3px 3px 0;
  }
}
